  #modal-confirm.modal {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
  }
  
  #modal-confirm .modal-main {
    display: flex;
    flex-direction: column;
    position:fixed;
    border: 1px lightgray solid;
    background: white;
    width: 25%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  #modal-confirm .modal-main .header {
    display: flex;
    margin: 10px 0px;
    padding-left: 3px;
    font-weight: bold;
  }

  #modal-confirm .modal-main .body {
    display: flex;
    padding: 5px;
    margin: 5px 0px;
    font-size: medium;
    justify-content: center;
  }

  #modal-confirm .modal-main .footer {
    display: flex;
    justify-content: right;
    height: auto;
  }

  #modal-confirm .btn {
    border: none;
    padding: 0.35em 1.2em;
    margin: 3px;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width: 75px;
    height: 30px;
    border-radius: 5px;
  }
  
  #modal-confirm .btn.btn-accept {
    color:#FFFFFF;
    background-color: rgb(133, 133, 133);
  }
  
  #modal-confirm .btn-accept:hover {
      background-color: rgb(59, 59, 59);
  }

  #modal-confirm .btn.btn-cancel {
    color: black;
    background-color: white;
  }
  
  #modal-confirm .btn-cancel:hover {
      background-color: rgb(239, 239, 239);
  }

  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }